<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sentou Pagou </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Produto</ion-label>
    <ion-input placeholder="Informe o produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Quantidade</ion-label>
    <ion-input placeholder="Informe a quantidade do produto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Valor</ion-label>
    <ion-input placeholder="Informe o valor"></ion-input>
  </ion-item>
  <ion-button expand="full">Adicionar</ion-button>
  <ion-list lines="none" class="lista--Consumo">
    <ion-list-header>
      <ion-label class="titulo--produtoLista">Produto</ion-label>
      <ion-label class="titulo--valorLista">Valor</ion-label>
      <ion-label class="titulo--valorLista"></ion-label>
    </ion-list-header>
    <ion-item class="container--lista">
      <!-- <ion-item class="" *ngFor="let produto of produtos"> -->
      <ion-label class="lista--itemDescricao"> Dose de pitu x10 </ion-label>
      <ion-label class="lista--itemValor"> 30,00 </ion-label>
      <ion-label color="danger" class="lista--itemAcao"
        ><ion-icon name="close-sharp"></ion-icon
      ></ion-label>
      <!-- <ion-label class="">
        <div class="">
          <span class=""
            >{{ produto.descricao_produto }} x{{ produto.qtd_produto }}</span
          >
        </div>
        <div class="">
          <span class=""
            >{{ produto.vlr_produto | number:'1.2-5':'pt' }}</span
          >
        </div>
      </ion-label> -->
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--itemDescricao"> Chopp Grande x10 </ion-label>
      <ion-label class="lista--itemValor"> 170,00 </ion-label>
      <ion-label color="danger" class="lista--itemAcao"
        ><ion-icon name="close-sharp"></ion-icon
      ></ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--itemDescricao">
        Espetinho Simples x10
      </ion-label>
      <ion-label class="lista--itemValor"> 90,00 </ion-label>
      <ion-label color="danger" class="lista--itemAcao"
        ><ion-icon name="close-sharp"></ion-icon
      ></ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--itemDescricao"> Castanha do Pará x1 </ion-label>
      <ion-label class="lista--itemValor"> 10,00 </ion-label>
      <ion-label color="danger" class="lista--itemAcao"
        ><ion-icon name="close-sharp"></ion-icon
      ></ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="">
    <ion-item class="container--lista">
      <ion-label class="lista--item"> Total sem Taxa: </ion-label>
      <ion-label class="lista--itemValor"> R$ 300,00 </ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--item"> Taxa de Serviço: </ion-label>
      <ion-label class="lista--itemValor"> R$ 30,00 </ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--item"> Valor Final: </ion-label>
      <ion-label class="lista--itemValor"> R$ 330,00 </ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="lista--Consumo">
    <ion-item>
      <ion-label position="stacked">Quantas pessoas no rolê?</ion-label>
      <ion-input placeholder="Informe quantas pessoas"></ion-input>
    </ion-item>
    <ion-button expand="full">Calcular Por Pessoa</ion-button>
    <ion-item class="container--lista">
      <ion-label class="lista--itemPorPessoa">
        Total sem Taxa Por Pessoa:
      </ion-label>
      <ion-label class="lista--itemValorPorPessoa"> R$ 50,00 </ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--itemPorPessoa">
        Taxa de Serviço Por Pessoa:
      </ion-label>
      <ion-label class="lista--itemValorPorPessoa"> R$ 5,00 </ion-label>
    </ion-item>
    <ion-item class="container--lista">
      <ion-label class="lista--itemPorPessoa">
        Valor Final Por Pessoa:
      </ion-label>
      <ion-label class="lista--itemValorPorPessoa"> R$ 55,00 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
